services:
  client:
    build:
      context: .
      dockerfile: docker/client.Dockerfile
    ports:
      - "80:80"
    depends_on:
      - server

  server:
    build:
      context: .
      dockerfile: docker/server.Dockerfile
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
